
.five.columns {
    background: green;
}

.two.columns {
    background: red;
}

.four.columns {
    background: yellow;
}

.six.columns {
    background: blue;
}

.one.column {
    background: orangered;
}

.ten.columns {
    background:pink;
}

.eight.columns {
    background: purple;
}